h1{

  color: black;

  font-size: larger;

}

body{

  background-color: antiquewhite;

}



table td,th {



  border:2px solid blue;

 

  border-collapse:collapse;

 

  text-align: center;

 

 

  }